.navBar .links-container {
    background-color: rgba(136, 195, 153, .5);
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    height: 50vh;
    border-radius: 25px;
    margin-top: 30px;
    width: 150px;
}

.navBar .links-container .links {
    padding: 20px 50px 20px 50px;
    color: white;
    text-decoration: none;
    text-align: center;
}